<div>
    <nav class="navbar navbar-expand">
        <h4> My Book Store </h4>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a routerLink="/home" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/createbook" class="nav-link"> Add Book Details </a>
            </li>
            <li class="nav-item">
                <a routerLink="/booklist" class="nav-link"> Book List</a>
            </li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>